<!DOCTYPE html>
<html>
<head>
  <title>TwitterTest</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tags %>
  <p class = "notice"><%= notice %></p>
  <p class = "alert"><%= alert %></p>
</head>
<body>

<%= yield %>

</body>
</html>
